htm* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
  background-color: #b6bfc8;
}

.container{margin-top:100px}.box1 img,.box1:after,.box1:before{width:100%;transition:all .3s ease 0s}.box1 .icon,.box2,.box3,.box4,.box5 .icon li a{text-align:center}.box10:after,.box10:before,.box1:after,.box1:before,.box2 .inner-content:after,.box3:after,.box3:before,.box4:before,.box5:after,.box5:before,.box6:after,.box7:after,.box7:before{content:""}.box1,.box11,.box12,.box13,.box14,.box16,.box17,.box18,.box2,.box20,.box21,.box3,.box4,.box5,.box5 .icon li a,.box6,.box7,.box8{overflow:hidden}.box1 .title,.box10 .title,.box4 .title,.box7 .title{letter-spacing:1px}.box3 .post,.box4 .post,.box5 .post,.box7 .post{font-style:italic}body{background-color:#f1f1f2}.mt-30{margin-top:30px}.mt-40{margin-top:40px}.mb-30{margin-bottom:30px}.box1 .icon,.box1 .title{margin:0;position:absolute}.box1{box-shadow:0 0 3px rgba(0,0,0,.3);position:relative}.box1:after,.box1:before{height:50%;background:rgba(0,0,0,.5);position:absolute;top:0;left:0;z-index:1;transform-origin:100% 0;transform:rotateZ(90deg)}.box1:after{top:auto;bottom:0;transform-origin:0 100%}.box1:hover:after,.box1:hover:before{transform:rotateZ(0)}.box1 img{height:auto;transform:scale(1) rotate(0)}.box1:hover img{filter:sepia(80%);transform:scale(1.3) rotate(10deg)}.box1 .title{font-size:19px;font-weight:600;color:#fff;text-transform:uppercase;text-shadow:0 0 1px #004cbf;bottom:10px;left:10px;opacity:0;z-index:2;transform:scale(0);transition:all .5s ease .2s}.box1:hover .title{opacity:1;transform:scale(1)}.box1 .icon{padding:7px 5px;list-style:none;background:#004cbf;border-radius:0 0 0 10px;top:-100%;right:0;z-index:2;transition:all .3s ease .2s}.box1:hover .icon{top:0}.box1 .icon li{display:block;margin:10px 0}.box1 .icon li a{display:block;width:35px;height:35px;line-height:35px;border-radius:10px;font-size:18px;color:#fff;transition:all .3s ease 0s}.box2 .icon li a,.box3 .icon a:hover,.box4 .icon li a:hover,.box5 .icon li a,.box6 .icon li a{border-radius:50%}.box1 .icon li a:hover{color:#fff;box-shadow:0 0 10px #000 inset,0 0 0 3px #fff}@media only screen and (max-width:990px){.box1{margin-bottom:30px}}

.card {
  width: 400px;
  margin: 75px auto 0;
  background-color: #fff;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.14);
  color: #444;
  text-align: center;
  font-size: 16px;
  border-radius: 15px;
}

.card .card-header {
  position: relative;
  height: 48px;
}

.card .card-header .profile-img {
  width: 96px;
  height: 96px;
  border-radius: 1000px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card .card-body {
  padding: 10px 40px;
}

.card .card-body .full-name {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0 0;
}

.card .card-body .username {
  font-size: 13px;
  color: #777;
  margin: 5px 0 0;
}

.card .card-body .city {
  font-weight: 500;
  margin: 10px 0 0;
}

.card .card-body .desc {
  line-height: 24px;
}

.card .social-icon {
  font-size: 18px;
  margin: 0 7px;
}

.card .social-icon.facebook {
  color: #3b5999;
}

.card .social-icon.download {
  color: #cd201f
}

.card .social-icon.twitter {
  color: #55acee;
}

.card .social-icon.tumblr {
  color: #34465d;
}

.card .social-icon.youtube {
  color: #cd201f;
}

.card .social-icon.linkedin {
  color: #0077b5;
}

.card .social-icon.google-plus {
  color: #dd4b39;
}

.card .card-footer {
  display: table;
  width: 100%;
  border-top: 1px solid #e6e6e6;
}

.card .card-footer .col {
  display: table-cell;
  padding: 5px 10px;
  font-size: 15px;
}

.card .card-footer .count {
  font-size: 18px;
  font-weight: 600;
}

.vr {
  border-right: 1px solid #e6e6e6;
}

@media screen and (max-width: 575px) {
  .card {
    width: 96%;
  }

  .card .card-body {
    padding: 10px 20px;
  }

  .card .card-footer .col {
    padding: 0 10px;
  }

  .card .card-footer .count {
    display: block;
    margin-bottom: 5px;
  }
  }